<div class="input-group">
	<span class="input-group-addon">Search by</span>
   <select class="form-control" id="search_by" name="search_by">
			<option value='title'>Title</option>
			<option value='tags'>Tags</option>
			<option value='unanswered'>Unaswered</option>
		</select> 
  <input id="description" type="text" class="form-control" placeholder="Description...">
  <span class="input-group-btn input-group-addon">
    <button class="btn btn-default" type="button" onclick="searchAllQuestionsBy()" >search</button>
  </span>
</div>

<hr>

<%= render @questions %>