<%= form_for @question do |f| %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Title</span>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Question</span>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Tags</span>
    <input type="text" name="tags" class="form-control" placeholder="Comma Separated">
  </div>

  <div>
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>