<%= form_tag question_answer_path(@answer.question.id, @answer.id), method: "put" do %>
  <div>
    <%= label_tag :body, "Answer" %><br>
    <%= text_area_tag :body, @answer.body %>
  </div>
  <div>
    <%= submit_tag 'Answer' %>
  </div>
<% end %>