.comment-form{
  display: none;
}
 .size {
  width: 30em;
  height: 10px;
 }

.container-yield {
  width: 50em;
  margin: auto;
}

.graph_dimention {
	height: 400px;
	width: 100%;
}

.loading_container {
	margin: auto;
	width: 100px;
	padding: 20px;
}

.loading_container img {
	width: 100px;
}

.questionLink {
	width:30em;
}

.single-comment {
	border-bottom: 1px solid #DDDDDD;
	margin: 0 auto;
	width: 95%;
	padding: 10px;
	/*background-color: #DDDDDD;*/
}