.comment-form{
  display: none;
}
 .size {
  width: 30em;
  height: 10px;
 }

.container-yield {
  width: 50em;
  margin: auto;
}

.graph_height {
	height: 400px;
}

.questionLink {
	width:30em;
}

.single-comment {
	font-size: 10px;
	border-bottom: 1px solid #DDDDDD;
	margin: 0 auto;
	width: 95%;
	padding: 2px;
	/*background-color: #DDDDDD;*/
}